.container {
  margin: 0 auto;
}
footer {
  width: 100%;
  position: relative;
  padding: 20px;
  padding-bottom: 0;
  background: var(--gradient-footer);
  grid-template-columns: repeat(2, 1fr);
  color: #f9f9f9;
}
footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 68px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1; /* ✅ يجعل التأثير فوق الخلفية */
  pointer-events: none; /* ✅ يمنع التفاعل مع العنصر */
  backdrop-filter: blur(5px); /* ✅ يعطي تأثير ضبابي */
  border-radius: 5px; /* ✅ يضيف حواف ناعمة */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  filter: drop-shadow(0px -10px 15px rgba(0, 0, 0, 0.3));
}
.upperDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.logo {
  object-fit: contain;
  position: relative; /* ✅ يعزل اللوجو عن التأثير */
  z-index: 2; /* ✅ يجعله فوق طبقة الضباب */
}
.socials {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  z-index: 100;
}
.socialItem {
  color: #f9f9f9;
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block; /* ⬅️ يجعل العنصر مرئيًا وقابلًا للنقر */
  min-width: 30px; /* ⬅️ يضمن حجمًا مرئيًا للأيقونة */
  min-height: 30px;
  text-align: center; /* يضمن تمركز الأيقونة */
  line-height: 30px; /* يضمن تناسق الارتفاع */
  transition: 0.3s;
}
.socialItem:hover {
  color: #4f67f6;
  transition: 0.3s;
  transform: scale(1.2);
}
.links {
  padding: 40px 80px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  gap: 3rem;
}
.links ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.links ul li:not(:first-child) {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(255 255 255 / 60%);
  padding: 5px 0;
  width: 100%;
}
.links h2 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(255 255 255 / 60%);
  margin-bottom: 8px;
}
.links h2:after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background: #fff;
  margin-top: 5px;
  transition: 0.3s all ease;
}
.links ul:hover h2:after {
  width: 100%;
  transition: 0.3s all ease;
}
.links ul li a {
  color: #fff;
  font-size: 13px;
  width: 100%;
  display: inline-block;
  transition: 0.3s;
}
.links ul li:not(:first-child):hover a {
  color: #4f67f6;
  transition: 0.3s all ease 0s;
  transform: scale(1.1);
}
.links address {
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
}

@media (max-width: 600px) {
  .upperDiv {
    flex-direction: column;
    gap: 30px;
  }
  .upperDiv ul {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
}
